<?xml version="1.0" encoding="GB2312"?>

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" threshold="null" debug="null">
    <!-- ===================================================================== -->
    <!--  以下是appender的定义                                                 -->
    <!-- ===================================================================== -->
    <appender name="PROJECT" class="org.apache.log4j.RollingFileAppender">
	    <param name="file" value="/home/hudson/111.log"/>
        <param name="append" value="true"/>
        <param name="encoding" value="GB2312"/>
        <param name="threshold" value="info"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%X{requestURIWithQueryString}] %-5p %c{2} - %m%n"/>
        </layout>
    </appender>

    <appender name="VELOCITY" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="/home/hudson/222.log"/>
        <param name="append" value="true"/>
        <param name="encoding" value="GBK"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p %c{2} - %m%n"/>
        </layout>
    </appender>
    
    <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">    
  <!-- 设置监视器输出方式 -->    
  <layout class="org.apache.log4j.PatternLayout">    
   <param name="ConversionPattern"    
    value="%-4r [%t] %-5p %c %x - %m%n" />    
  </layout>    
  <!--滤镜设置输出的级别-->    
  <filter class="org.apache.log4j.varia.LevelRangeFilter">    
   <param name="levelMin" value="info" />    
   <param name="levelMax" value="info" />    
   <param name="AcceptOnMatch" value="true" />    
  </filter>    
</appender>   
    <!-- ===================================================================== -->
    <!--  以下是logger的定义                                                   -->
    <!-- ===================================================================== -->
    <logger name="com.alibaba.service.VelocityService" additivity="false">
        <level value="ERROR"/>
        <appender-ref ref="VELOCITY"/>
    </logger>
    
    <logger name="com.ibatis">  
         <level value="debug" />
         <appender-ref ref="PROJECT"/>  
     </logger>  
       
     <logger name="com.ibatis.common.jdbc.SimpleDataSource">  
         <level value="debug" />  
         <appender-ref ref="PROJECT"/>
     </logger>  
       
     <logger name="com.ibatis.common.jdbc.ScriptRunner">  
         <level value="debug" />  
         <appender-ref ref="PROJECT"/>
     </logger>  
       
     <logger name="com.ibatis.common.jdbc.SqlMapClientDelegate">  
         <level value="debug" />
         <appender-ref ref="PROJECT"/>  
     </logger>  
       
     <logger name="java.sql.Connection">  
         <level value="debug" />
         <appender-ref ref="PROJECT"/>  
     </logger>  
       
     <logger name="java.sql.Statement">  
         <level value="debug" />  
         <appender-ref ref="PROJECT"/>
     </logger>  
       
     <logger name="java.sql.PreparedStatement">  
         <level value="debug" />  
         <appender-ref ref="PROJECT"/>
     </logger>  
     
     <logger name="com.ms.commons">  
         <level value="debug" />  
         <appender-ref ref="PROJECT"/>
     </logger>  
     
       <logger name="com.ms.commons">  
         <level value="debug" />  
         <appender-ref ref="STDOUT"/>
     </logger>  
       
       
   <!-- ===================================================================== -->
    <!--  Root logger的定义                                                    -->
    <!-- ===================================================================== -->
    <root>
        <level value="DEBUG"/>
        <appender-ref ref="PROJECT"/>
        <appender-ref ref="VELOCITY"/>
        <appender-ref ref="STDOUT"/>
    </root>
</log4j:configuration>
